Finish migration of defs to irefs

From Henk:

These are the left-over irefs in the document (used to be defs in the old version):

informative_references.md:[[iref: didwebs Reference Implementation]]
informative_references.md:[[iref: Hyperledger AnonCreds]]
informative_references.md:[[iref: Overlay Capture Architecture]]
informative_references.md:[[iref: rfc5895]]
informative_references.md:[[iref: StatusList2021]]
informative_references.md:[[iref: UTS-46]]
informative_references.md:[[iref: W3C VC Rendering Methods specification]]
normative_references.md:[[iref: Data Integrity Proof]]
normative_references.md:[[iref: JSON Serialization]]
normative_references.md:[[iref: multiformat multihash]]
normative_references.md:[[iref: RFC1035]]
normative_references.md:[[iref: RFC1123]]
normative_references.md:[[iref: RFC2181]]
normative_references.md:[[iref: ACDC specification]] 
normative_references.md:[[iref: CESR specification]]
normative_references.md:[[iref: CESR Proof Signatures]]
normative_references.md:[[iref: Key Event Receipt Infrastructure]]
normative_references.md:[[iref: ACDC IPEX]]
normative_references.md:[[iref: didweb specification]]
normative_references.md:[[iref: Decentralized Identifiers]]
normative_references.md:[[iref: DID spec registries]]
normative_references.md:[[iref: DID URL path]]
normative_references.md:[[iref: Verifiable Credentials Data Model]]
normative_references.md:[[iref: verifiable presentation]]

They are functional in these sections, because they form a subset of the terms definitions.
It is maybe better style to not use defs for bibliography entries, but that's something we can discuss more. We may change this to the way the KERI, CESR and ACDC specs are organized.